.titulo {
  text-align: center;
}

.comandos {
  background-color: cadetblue;
  width: 400px;
  height: 200px;
  border-radius: 15px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



